body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.loginbox{
    height: 350px;
    width: 300px;
    border: 1px solid rgba(37, 35, 35, 0.953);
    border-radius: 10px;
    display: flex;
    padding: 25px;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
button{
    margin-top: 10px;
    padding:5px 130px ;
    font-size: 18px;
    border: 1px solid gray;
    border-radius: 5px;
}
span{
    color: rgb(23, 142, 182);
    font-weight: 300;
}
input{
    width:300px;
    height: 30px;
    font-size: 15px;
    border: 1px solid gray;
   margin-top: 2px;
}